.forgot-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
}

.forgot-card {
  padding: 35px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.forgot-card h2 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--accent-color);
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.forgot-container button {
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.forgot-container button:hover {
  background: #2e59d9;
}

.forgot-containerbutton:disabled {
  background: #9eaecf;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 13px;
  margin-bottom: 10px;
}
