* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* PAGE */
.login-page {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CARD */
.login-card {
  width: 420px;
  background: var(--secondary-color);
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  color: var(--text-color);
}

.decor-image {
  width: 100%;
  max-width: 360px;
  margin: 0 auto 25px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-color);
}

.subtitle {
  font-size: 15px;
  color: var(--text-color);
  margin-bottom: 34px;
  font-weight: 700;
}

/* FORM */
.login-form {
  text-align: left;
}

.login-form label {
  font-size: 12px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 20px;
  color: var(--text-color);
  border: none;
  background-color: var(--surface-3);
  border-radius: 4px;
  font-size: 14px;
}

.login-form input::placeholder {
  color: var(--text-color);
}

.login-form input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow:
    0 0 0 2px rgba(37, 99, 235, 0.25),
    0 0 0 5px rgba(37, 99, 235, 0.12);
}


/* PASSWORD ICON */
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 48px;
}

.password-eye {
  position: absolute;
  top: 42%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
  display: flex;
  align-items: center;
  opacity: 0.85;
  transition: 0.9s;
}

.password-eye:hover {
  opacity: 1;
}

/* BUTTON */
.login-form button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 24px;
  font-weight: 700;
}

.login-form button:hover {
  background: #1d4ed8;
}

/* FOOTER */
.login_footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.login_footer img {
  width: 140px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-card {
    width: 90%;
    padding: 30px;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .login-card {
    padding: 24px;
  }

  .title {
    font-size: 26px;
  }
}

.error-message {
  color: #e53935;
  background: #fdecea;
  padding: 8px;
  border-radius: 6px;
  margin: 10px 0;
  font-size: 14px;
}