.password-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-card {
  background: var(--secondary-color);
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.password-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  font-size: 14px;
}

.input-group input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.password-wrapper {
  position: relative;
}

.password-container button {
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.password-container button:hover {
  background: #2e59d9;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
