.report-content-text {
  max-width: 300px;
  font-style: italic;
  color: #475569;
  line-height: 1.4;
  word-wrap: break-word;
  white-space: normal; 
  font-size: 13px;
}

/* Container to keep preview and button on one line */
.narrow-content-box {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.report-preview {
  font-size: 13px;
  color: #475569;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px; 
}


.btn-see-more-link {
  background: none;
  border: none;
  color: #2563eb;
  font-size: 11px;
  font-weight: 800;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  flex-shrink: 0; 
}

.narrow-content-box {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.report-preview {
  font-size: 13px;
  color: #f9fbfc;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px; 
}

.btn-see-more-link:hover {
  color: #1d4ed8;
}

.user-table td {
  padding: 12px 18px; 
}

.comment-modal {
  width: 500px !important; 
  text-align: left !important;
}

.full-comment-box {
  background: #0262c266;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  margin: 15px 0;
  max-height: 300px;
  overflow-y: auto;
}

.full-comment-box p {
  color: #f8f8f9d4 !important;
  line-height: 1.6;
  font-weight: 400 !important;
}

/* Target Type Styling */
.target-type {
    font-size: 11px;
    color: #64748b;
    text-transform: uppercase;
    font-weight: 700;
}

.reporter-name {
    color: #475569;
}

/* Action Gap styling */
.action-gap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.resolved-text {
  color: #94a3b8;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
}

.status-label.pending {color: #d6fb03; }
.status-label.ignored {color: #e0e0e0; }
.status-label.unbanned {color: #0455d8; }


.status-label.pending .status-dot {background-color: #d6fb02; }
.status-label.ignored .status-dot {background-color: #e0e0e0; }
.status-label.unbanned .status-dot {background-color: #0455d8; }





